---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

You can also find my articles on [my Google Scholar profile](https://scholar.google.com/citations?user=vRIKYD8AAAAJ&hl=en&oi=ao).

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

## Publications

### 1. Promise and Peril of Collaborative Code Generation Models: Balancing Effectiveness and Memorization
**Zhi Chen**, Lingxiao Jiang  
The 39th IEEE/ACM International Conference on Automated Software Engineering (ASE 2024)  
(13 pages, Research Track.) Sacramento, California, USA. October 27 - November 1, 2024.  
[arXiv](https://arxiv.org/pdf/2409.12020)

### 2. Evaluating Software Development Agents: Patch Patterns, Code Quality, and Issue Complexity in Real-World GitHub Scenarios
**Zhi Chen**, Lingxiao Jiang  
(*Currently under review*)  
[arXiv](https://arxiv.org/pdf/2410.12468)
