---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<!-- <div class="wordwrap">You can also find my articles on <a href="https://scholar.google.com/citations?user=vRIKYD8AAAAJ&hl=en&oi=ao">my Google Scholar profile</a>.</div> -->

{% include base_path %}

<!-- <!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
 -->
<h2>Publications</h2>

<!-- First Paper -->
<h3>1. Promise and Peril of Collaborative Code Generation Models: Balancing Effectiveness and Memorization <a href="https://arxiv.org/pdf/2409.12020">PDF</a></h3>
<p><strong>Zhi Chen</strong>, Lingxiao Jiang<br/>
The 39th IEEE/ACM International Conference on Automated Software Engineering (ASE 2024)<br/>
(13 pages, Research Track) Sacramento, California, USA. October 27 - November 1, 2024.</p>

<!-- Second Paper -->
<h3>2. Evaluating Software Development Agents: Patch Patterns, Code Quality, and Issue Complexity in Real-World GitHub Scenarios <a href="https://arxiv.org/pdf/2410.12468">PDF</a></h3>
<p><strong>Zhi Chen</strong>, Lingxiao Jiang</p>
